import <%= data %>Table from '@/app/<%= relation %>/<%= data %>Table'

// async function getUsers(): Promise<User[]> {
//   const res = await fetch('http://192.168.2.18:3004/user')
//   const data = await res.json()
//   return data
// }

export default async function <%= data %>() {
  // const users = await getUsers()
  return (
    <section className='py-5 w-[90%]'>
      <div className='container'>
        <<%= data %>Table />
      </div>
    </section>
  )
}
